<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [460, 340]
  Dashing.numColumns = 1
  Dashing.numRows = 1
});
</script>

<% content_for :title do %>Tech Support Active Tickets<% end %>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="active" data-view="Hotness" data-title="Active Tickets" data-moreinfo="Total tickets on the log" data-cool="11" data-warm="21"></div>
	</li>
  </ul>
</div>
