<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":1,"row":1},{"col":1,"row":2},{"col":1,"row":3},{"col":2,"row":1},{"col":2,"row":2},{"col":2,"row":3},{"col":3,"row":1},{"col":3,"row":2},{"col":3,"row":3},{"col":4,"row":1},{"col":4,"row":2},{"col":4,"row":3}]')
//  Dashing.widget_base_dimensions = [460, 340]
//  Dashing.widget_base_dimensions = [460, 255]
//  Dashing.widget_base_dimensions = [368, 255]
  Dashing.widget_base_dimensions = [306, 255]
  Dashing.numColumns = 6

  Dashing.numRows = 4
});
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
</script>

<% content_for :title do %>Tech Support Agent Metrics Dashboard<% end %>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
		<div data-id="resolved" data-view="FullpieAgent" style="background-color:#119911;" data-moreinfo="Tickets resolved today" data-title="Resolved Tickets"></div>
	</li>
	
	<li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
		<div data-id="assigned" data-view="FullpieAgent" style="background-color:#ee6611;" data-moreinfo="Active tickets by assignee" data-title="Assigned Tickets"></div>
	</li>
	
	<li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
		<div data-id="pending" data-view="FullpieAgent" style="background-color:#ccbb33;" data-moreinfo="Assigned tickets NOT on the log" data-title="Pending Tickets"></div>
	</li>
	
	<li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
		<div data-id="contracted" data-view="FullpieAgent" style="background-color:#3333cc;" data-moreinfo="Contracted work tickets" data-title="Contracted Work"></div>
	</li>
  </ul>
</div>
