<script type='text/javascript'>
$(function() {
  //
  Dashing.myAgents = 12
  //
  Dashing.numColumns = 9
  Dashing.numRows = Dashing.myAgents + 1
  Dashing.widget_margins = [3, 3]
  cSize = Math.floor(1800/Dashing.numColumns) - (Dashing.numColumns * Dashing.widget_margins[0])
  rSize = Math.floor(1020/Dashing.numRows) - (Dashing.numRows * Dashing.widget_margins[1])
  Dashing.widget_base_dimensions = [cSize, rSize]
});
</script>

<% content_for :title do %>Tech Support Agent Metrics Dashboard<% end %>

<div class="gridster">
  <ul id="agent2">
	<!-- TOP ROW -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Agent" data-moreinfo="" style="background-color:#222" class="agentdb2 agentname agentdb2header"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="In Progress" data-moreinfo="" style="background-color:#222" class="agentdb2 agentinprogress agentdb2header"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Assigned" data-moreinfo="" style="background-color:#222" class="agentdb2 agentassigned agentdb2header"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Pending" data-moreinfo="" style="background-color:#222" class="agentdb2 agentpending agentdb2header"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Escalated" data-moreinfo="" style="background-color:#222" class="agentdb2 agentescalated agentdb2header"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Contracted" data-moreinfo="" style="background-color:#222" class="agentdb2 agentcontracted agentdb2header"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Resolved" data-moreinfo="" style="background-color:#222" class="agentdb2 agentresolved agentdb2header"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Resolved-U" data-moreinfo="" style="background-color:#222" class="agentdb2 agentresolvedu agentdb2header"></div>
    </li>
    <li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Resolved-C" data-moreinfo="" style="background-color:#222" class="agentdb2 agentresolvedc agentdb2header"></div>
    </li>
    <!--<li data-row="1" data-col="10" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Last Upd" data-moreinfo="" style="background-color:#222" class="agentdb2 agentupdateage agentdb2header"></div>
    </li>-->

  </ul>
</div>

<script type='text/javascript'>
$(function() {
	container = $('#agent2')
	num = Dashing.myAgents,10
	
	for (var i = 1; i <= num; i++)
	{
		rownum = i + 1
		container.append(' \
			<!-- AGENT ' + i + ' ROW -->\
			<li data-row="' + rownum + '" data-col="1" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'name" data-view="Text" data-title="" data-moreinfo="" style="background-color:#222" class="agentdb2 agentname"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="2" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'inprogress" data-cool="1" data-warm="2" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentinprogress"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="3" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'assigned" data-cool="2" data-warm="5" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentassigned"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="4" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'pending" data-cool="0" data-warm="5" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentpending"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="5" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'escalated" data-cool="0" data-warm="3" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentescalated"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="6" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'contracted" data-cool="0" data-warm="5" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentcontracted"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="7" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'resolved" data-cool="0" data-warm="10" data-view="HotnessAgent2" data-title="" data-moreinfo="" class="agentdb2 agentresolved"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="8" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'resolvedu" data-view="Number" data-title="" data-moreinfo="" style="background-color:#222" class="agentdb2 agentresolvedu"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="9" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'resolvedc" data-view="Number" data-title="" data-moreinfo="" style="background-color:#222" class="agentdb2 agentresolvedc"></div>\
			</li>\
			<!--<li data-row="' + rownum + '" data-col="10" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'updateage" data-view="Text" data-title="" data-moreinfo="" style="background-color:#222" class="agentdb2 agentupdateage"></div>\
			</li>-->\
		')
	}
});
</script>
