<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [590, 490]
  Dashing.numColumns = 3
  Dashing.numRows = 2
});
</script>

<% content_for :title do %>Tech Support Agent Metrics Dashboard<% end %>

<div class="gridster">
	<ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="resolvedu" data-view="AgentDonut" style="background-color:#222222;" data-moreinfo="Tickets resolved today" data-title="Resolved Tickets (UMS)"></div>
	</li>

	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
		<div data-id="resolvedc" data-view="AgentDonut" style="background-color:#222222;" data-moreinfo="Tickets resolved today" data-title="Resolved Tickets (CBSW)"></div>
	</li>
	
	<li data-row="1" data-col="3" data-sizex="1" data-sizey="1"> 
		<div data-id="resolvedp" data-view="AgentDonut" style="background-color:#222222;" data-moreinfo="Tickets resolved today" data-title="Resolved Tickets (Payment Services)"></div>
	</li>

	<li data-row="2" data-col="1"  data-sizex="1" data-sizey="1">
		<div data-id="topcallerstable" data-view="Table" style="background-color:#222222;" data-moreinfo="Top 10 ticket creators this month" data-title="Top Callers"></div>
	</li>

	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
		<div data-id="pending" data-view="AgentDonut" style="background-color:#222222;" data-moreinfo="Assigned tickets NOT on the log" data-title="Pending Tickets"></div>
	</li>

	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1"> 
		<div data-id="resolved" data-view="AgentDonut" style="background-color:#222222;" data-moreinfo="Tickets resolved today" data-title="Resolved Tickets (ALL)"></div>
	</li>
  </ul>
</div>
