<script type='text/javascript'>
$(function() {
  //
  Dashing.myAgents = 12
  //
  Dashing.numColumns = 7
  Dashing.numRows = Dashing.myAgents + 1
  Dashing.widget_base_dimensions = [Math.floor(1800/Dashing.numColumns), Math.floor(1020/Dashing.numRows)]
});
</script>

<% content_for :title do %>Tech Support Agent Metrics Dashboard<% end %>

<div class="gridster">
  <ul id="agent2">
	<!-- TOP ROW -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Agent" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="In Progress" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Assigned" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Pending" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Escalated" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Contracted" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="Resolved" data-moreinfo="Ticket count" style="background-color:#222" class="agentdb2"></div>
    </li>

  </ul>
</div>

<script type='text/javascript'>
$(function() {
	container = $('#agent2')
	num = Dashing.myAgents,10
	
	for (var i = 1; i <= num; i++)
	{
		rownum = i + 1
		container.append(' \
			<!-- AGENT ' + i + ' ROW -->\
			<li data-row="' + rownum + '" data-col="1" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'name" data-view="Text" data-title="" data-moreinfo="" style="background-color:#222" class="agentdb2 agentname"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="2" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'inprogress" data-cool="1" data-warm="2" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentinprogress"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="3" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'assigned" data-cool="2" data-warm="5" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentassigned"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="4" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'pending" data-cool="0" data-warm="5" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentpending"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="5" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'escalated" data-cool="0" data-warm="3" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentescalated"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="6" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'contracted" data-cool="0" data-warm="5" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentescalated"></div>\
			</li>\
			<li data-row="' + rownum + '" data-col="7" data-sizex="1" data-sizey="1">\
				<div data-id="agent' + i + 'resolved" data-cool="10" data-warm="0" data-view="HotnessAgent" data-title="" data-moreinfo="" class="agentdb2 agentresolved"></div>\
			</li>\
		')
	}
});
</script>
