<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [460, 340]
  Dashing.numColumns = 1
  Dashing.numRows = 1
});
</script>

<% content_for :title do %>Tech Support New Tickets<% end %>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="newtickets" data-view="Number" data-title="New Tickets Today" data-moreinfo="Tickets created today" style="background-color:#222"></div>
	</li>
  </ul>
</div>
