<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":1},{"col":1,"row":2},{"col":1,"row":3},{"col":2,"row":1},{"col":2,"row":2},{"col":2,"row":3},{"col":3,"row":1},{"col":3,"row":2},{"col":3,"row":3},{"col":4,"row":1},{"col":4,"row":2},{"col":4,"row":3}]')
  Dashing.widget_base_dimensions = [460, 340]
  Dashing.numColumns = 4
});
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
</script>

<% content_for :title do %>Tech Support Information Dashboard<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="sla30" data-view="Meter" data-moreinfo="Number of calls with response time under 30 minutes" style="background-color:#000000;" data-title="Under 30" data-min="0" data-max="75"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="sla60" data-view="Meter" data-moreinfo="Number of calls with response time of 31 to 60 minutes" style="background-color:#000000;" data-title="Under 60" data-min="0" data-max="75"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="sla90" data-view="Meter" data-moreinfo="Number of calls with response time over 60 minutes" style="background-color:#000000;" data-title="Over 60" data-min="0" data-max="1"></div>
    </li>
<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="averageresponsetime" data-view="Meter" data-title="Response Time" data-moreinfo="(in minutes)" data-min="0" data-max="75" style="background-color:#ff6633"></div>
    </li>
-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="averageresponsetime" data-view="Hotness" data-title="Response Time" data-cool="30" data-warm="59"></div>
	</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Clock" style="background-color:#000000"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="active" data-view="Hotness" data-title="Active Tickets" data-cool="15" data-warm="35"></div>
	</li>
<!--
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="waittime" data-view="Meter" data-moreinfo="Current max wait time" style="background-color:#ff3300" data-title="Wait Time" data-min="0" data-max="60"></div>
    </li>
-->
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="waittime" data-view="Hotness" data-title="Wait Time" data-cool="30" data-warm="55"></div>
	</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-view="Text" data-title="NEC" data-moreinfo="Phone block" style="background-color:#000000"></div>
    </li>

	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="unhandled" data-view="Hotness" data-title="Open Tickets" data-cool="4" data-warm="10"></div>
	</li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="umsopentickets" data-view="List" data-unordered="true" data-title="UMS Tickets" data-moreinfo="Open tickets by SLA" style="background-color:#493590;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="cbswopentickets" data-view="List" data-unordered="true" data-title="CBSW Tickets" data-moreinfo="Open tickets by SLA" style="background-color:#5C65C0;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="inbound" data-view="Number" data-title="Inbound Resolutions" data-moreinfo="Ticket counts resolved inbound" style="background-color:#6F95FF;"></div>
    </li>
  </ul>
</div>
