<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [460, 340]
  Dashing.numColumns = 1
  Dashing.numRows = 1
});
</script>

<% content_for :title do %>Tech Support Wait Time<% end %>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
		<div data-id="waittime" data-view="Hotness" data-title="Wait Time" data-moreinfo="Oldest ticket on the log" data-cool="31" data-warm="55"></div>
	</li>
  </ul>
</div>
