// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #2c5a25;

$moreinfo-color:    rgba(255, 255, 255, 0.3);


// ----------------------------------------------------------------------------
// Widget-GoogleGauge styles
// ----------------------------------------------------------------------------
.widget-google-gauge {

  background-color: $background-color;
  position: relative;
	margin: 0 auto;


  .gauge {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

}
