// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 1.0);
$label-color:       rgba(255, 255, 255, 1.0);
$moreinfo-color:    rgba(255, 255, 255, 1.0);

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
div.widget-table {
  padding: 0 10px;
}
.widget-table {

  background-color: $background-color;
  vertical-align: top;

  .table-title {
    color: $title-color;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
  }
  
  th, td {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
	font-size: 20px;
	border-bottom: 1px solid;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .value {
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .statustabletablehdr1 {
    text-align:left;
  }
  .statustabletablehdr2 {
    text-align:right;
  }
  .statustabletablehdr3 {
    text-align:right;
  }
  .statustabletablehdr4 {
    text-align:right;
  }
  .statustabletablecol2 {
    text-align:right;
  }
  .statustabletablecol3 {
    text-align:right;
  }
  .statustabletablecol4 {
    text-align:right;
  }

  .escalatedtabletablehdr1 {
    text-align:left;
  }
  .escalatedtabletablehdr2 {
    text-align:right;
  }
  .escalatedtabletablehdr3 {
    text-align:right;
  }
  .escalatedtabletablecol2 {
    text-align:right;
  }
  .escalatedtabletablecol3 {
    text-align:right;
  }

  .contractedtabletablehdr1 {
    text-align:right;
	padding-right:10px;
  }
  .contractedtabletablehdr2 {
    text-align:left;
	padding-left:10px;
  }
  .contractedtabletablecol1 {
    text-align:right;
	padding-right:10px;
  }
  .contractedtabletablecol2 {
    text-align:left;
	padding-left:10px;
  }

}
